<!DOCTYPE HTML>

{% load staticfiles %}

<html>
<head>
  <title>High Noon Music</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}"> <! for the css handler>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
	<h1>About Page</h1>
	<nav>
  	<h1><a href="{% url 'main_page' %}">High Noon Home</a></h1> <! url for the homepage>
    <b>About</b>
    <h3>|</h3>
    <a href="{% url 'payton_page' %}">Payton</a> <!tag for after the initial url>
    <h3>|</h3>
  	<a href="{% url 'alex_page' %}">Alex</a>
    <h3>|</h3>
  	<a href="{% url 'scottie_page' %}">Scottie</a>
  </nav>
	<div class="about">
		<h3>About High Noon Music and its authors</h3>
		<p>High Noon Music is a project by Payton, Alex, and Scottie. We consider ourselves to be one of the <b>most</b> mediocre music websites out there on the "web". We post and talk about music that we have either found recently or just always have liked to listen to. Over time we hope to host music files for streaming and downloading, and have a members only area which you will need an account to access.</p>
		<h6>Happy hunting!</h6>
	</div>
</body>
<footer>
  <h5>High Noon could be considered the most mediocre music project website of this century.</h5>
  <b>About</b>
  <h3>|</h3>
  <a href="{% url 'payton_page' %}">Payton</a>
  <h3>|</h3>
  <a href="{% url 'alex_page' %}">Alex</a>
  <h3>|</h3>
  <a href="{% url 'scottie_page' %}">Scottie</a>
</footer>
</html>
