<!DOCTYPE HTML>

{% load staticfiles %}

<html lang="en">
<head>
    <title>Best Old School Rap</title>
    <link rel="stylesheet" href="{% static 'css/old_rap.css' %}"> <! for the css handler>

</head>
<body>

<div class="Title">
<h1>The Greatest Rap Songs of All Time</h1>
    <h2><a href="{% url 'main_page' %}">High Noon Home</a></h2>
    <h5><a href="{% url 'alex_page' %}">Back</a></h5>
<h5>N.W.A, Tupac, Wu-Tang Clan and more</h5>
</div>

<h3> </h3>

<div class="images">
<img src="{% static "css/nwa_2.jpg" %}" alt="NWA" height=300 width=280/>
<img src="{% static "css/Tpuac.jpeg" %}" alt="Tupac" height=300 width=280/>
<img src="{% static "css/wu_tang_pic.jpg" %}" alt="Wu-Tang" height=300 width=260/>
<img src="{% static "css/Snoop-Dogg.jpeg" %}" alt="Snoop Dogg" height=300 width=280/>
</div>

<div class="All_Songs">
<ol>
    <li><a href="https://www.youtube.com/watch?v=TMZi25Pq3T8" target="_blank">Straight Outta Compton: N.W.A</a></li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TMZi25Pq3T8" frameborder="0" allowfullscreen></iframe>

<div class="SOC">
<h3>Lyrics</h3>
    <p>    
    You are now about to witness the strength of street knowledge<br>
<br>
[Verse 1 - Ice Cube:]<br>
Straight outta Compton, crazy motherfucker named Ice Cube<br>
From the gang called Niggas With Attitudes<br>
When I'm called off, I got a sawed off<br>
Squeeze the trigger, and bodies are hauled off<br>
You too, boy, if ya fuck with me<br>
The police are gonna hafta come and get me<br>
Off yo ass, that's how I'm goin out<br>
For the punk motherfuckers that's showin out<br>
Niggaz start to mumble, they wanna rumble<br>
Mix em and cook em in a pot like gumbo<br>
Goin off on a motherfucker like that<br>
With a gat that's pointed at yo ass<br>
So give it up smooth<br>
Ain't no tellin when I'm down for a jack move<br>
Here's a murder rap to keep yo dancin<br>
With a crime record like Charles Manson<br>
AK-47 is the tool<br>
Don't make me act the motherfuckin fool<br>
Me you can go toe to toe, no maybe<br>
I'm knockin niggaz out tha box, daily<br>
Yo weekly, monthly and yearly<br>
Until them dumb motherfuckers see clearly<br>
That I'm down with the capital C-P-T<br>
Boy you can't fuck with me<br>
So when I'm in your neighborhood, you better duck<br>
Cause Ice Cube is crazy as fuck<br>
As I leave, believe I'm stompin<br>
But when I come back, boy, I'm comin straight outta Compton<br>
<br>
[Chorus:]<br>
(City of Compton, City of Compton)<br>
[Eazy E:] Yo Ren<br>
[MC Ren:] Whassup?<br>
[Eazy E:] Tell em where you from!<br>
<br>
[Verse 2 - MC Ren:]<br>
Straight outta Compton, another crazy ass nigga<br>
More punks I smoke, yo, my rep gets bigger<br>
I'm a bad motherfucker and you know this<br>
But the pussy ass niggaz don't show this<br>
But I don't give a fuck, I'm a make my snaps<br>
If not from the records, from jackin the crops<br>
Just like burglary, the definition is 'jackin'<br>
And when illegally armed it's called 'packin'<br>
Shoot a motherfucker in a minute<br>
I find a good piece o' pussy, I go up in it<br>
So if you're at a show in the front row<br>
I'm a call you a bitch or dirty-ass ho<br>
You'll probably get mad like a bitch is supposed to<br>
But that shows me, slut, you're composed to<br>
A crazy muthafucker from tha street<br>
Attitude legit cause I'm tearin up shit<br>
MC Ren controls the automatic<br>
For any dumb muthafucker that starts static<br>
Not the right hand cause I'm the hand itself<br>
Every time I pull a AK off the shelf<br>
The security is maximum and that's a law<br>
R-E-N spells Ren but I'm raw<br>
See, cause I'm the motherfuckin villain<br>
The definition is clear, you're the witness of a killin<br>
That's takin place without a clue<br>
And once you're on the scope, your ass is through<br>
Look, you might take it as a trip<br>
But a nigga like Ren is on a gangsta tip<br>
Straight outta Compton...<br>
<br>
[Chorus]
<br>
(City of Compton, City of Compton)<br>
[Dr. Dre:] Eazy is his name and the boy is comin...<br>
<br>
[Verse 3 - Eazy-E:]<br>
... straight outta Compton<br>
Is a brotha that'll smother yo' mother<br>
And make ya sister think I love her<br>
Dangerous motherfucker raises hell<br>
And if I ever get caught I make bail<br>
See, I don't give a fuck, that's the problem<br>
I see a motherfuckin cop I don't dodge him<br><br>
But I'm smart, lay low, creep a while<br>
And when I see a punk pass, I smile<br>
To me it's kinda funny, the attitude showin a nigga drivin<br>
But don't know where the fuck he's going, just rollin<br>
Lookin for the one they call Eazy<br>
But here's a flash, they never seize me<br>
Ruthless! Never seen like a shadow in the dark<br>
Except when I unload, see I'll get over the hesitation<br>
And hear the scream of the one who got the last penetration<br>
Give a little gust of wind and I'm jettin<br>
But leave a memory no one'll be forgettin<br>
So what about the bitch who got shot? Fuck her!<br>
You think I give a damn about a bitch? I ain't a sucker!<br>
This is the autobiography of the E, and if you ever fuck with me<br>
You'll get taken by a stupid dope brotha who will smother<br>
Word to the motherfucker, straight outta Compton<br>
<br>
[Chorus]
<br>
(City of Compton, City of Compton)<br>
(Damn that shit was dope!)<br>
</div>


<li><a href="https://www.youtube.com/watch?v=PBwAxmrE194" target="_blank">C.R.E.A.M - Wu-Tang Clan</a></li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PBwAxmrE194" frameborder="0" allowfullscreen></iframe>

<div class="Wu-Tang">
<h3>Lyrics</h3>
<p>
    [Intro: Raekwon + Method Man]<br>
    <br>
What that nigga want God?<br>
Word up, look out for the cops though Wu-Tang five finger shit<br>
Cash rules-<br>
Word up, two for fives over here baby<br>
Word up, two for fives, niggas got garbage down the way, word up<br>
Know what I'm saying?<br>
Cash rules everything around me C.R.E.A.M. get-<br>
Yeah, check this old fly shit out, word up<br>
Cash rules everything around me C.R.E.A.M. get the money<br>
Take you on a natural joint<br>
Here we here we go<br>
Dollar, dollar bill y'all<br>
Check this shit, yo<br>
<br>
[Verse 1: Raekwon]<br>
<br>
I grew up on the crime side, the New York Times side<br>
Staying alive was no jive<br>
Had secondhands, Mom's bounced on old man<br>
So then we moved to Shaolin land<br>
A young youth, yo, rocking the gold tooth, 'Lo goose<br>
Only way I be gettin' the G off was drug loot<br>
And let's start it like this son, rolling with this one and that one<br>
Pulling out Gats for fun<br>
But it was just a dream for the teen who was a fiend<br>
Started smoking woolas at 16<br>
And running up in gates, and doing hits for high stakes<br>
Making my way on fire escapes<br>
No question I would speed for cracks and weed<br>
The combination made my eyes bleed<br>
No question I would flow off and try to get the dough all<br>
Sticking up white boys in ball courts<br>
My life got no better, same damn 'Lo sweater<br>
Times is rough and tough like leather<br>
Figured out I went the wrong route<br>
So I got with a sick-ass clique and went all out<br>
Catching keys from across seas<br>
Rolling in MPV's every week we made forty G's<br>
Yo nigga respect mine or here go the TEC-9<br>
Ch-chick-POW, move from the gate now<br>
<br>
[Hook: Method Man]<br>
<br>
Cash rules everything around me:<br>
CREAM, get the money<br>
Dollar, dollar bill y'all<br>
Cash rules everything around me:<br>
CREAM, get the money<br>
Dollar, dollar bill y'all<br>
<br>
[Verse 2: Inspectah Deck]
<br>
It's been twenty-two long hard years of still struggling<br>
Survival got me bugging, but I'm alive on arrival<br>
I peep at the shape of the streets<br>
And stay awake to the ways of the world cause shit is deep<br>
A man with a dream with plans to make cream<br>
Which failed; I went to jail at the age of fifteen<br>
A young buck selling drugs and such who never had much<br>
Trying to get a clutch at what I could not<br>
The court played me short, now I face incarceration<br>
Pacin' - going upstate's my destination<br>
Handcuffed in the back of a bus, forty of us<br>
Life as a shorty shouldn't be so rough<br>
But as the world turned I learned life is hell<br>
Living in the world no different from a cell<br>
Every day I escape from Jakes giving chase, selling base<br>
Smoking bones in the staircase<br>
Though I don't know why I chose to smoke sess<br>
I guess that's the time when I'm not depressed<br>
But I'm still depressed and I ask what's it worth?<br>
Ready to give up so I seek the old Earth<br>
Who explained working hard may help you maintain<br>
To learn to overcome the heartaches and pain<br>
We got stickup kids, corrupt cops, and crack rocks and<br>
Stray shots, all on the block that stays hot<br>
Leave it up to me while I be living proof<br>
To kick the truth to the young Black youth<br>
But shorty's running wild, smoking sess, drinking beer<br>
And ain't trying to hear what I'm kicking in his ear<br>
Neglected for now, but yo, it gots to be accepted<br>
That what? That life is hectic<br><br>
<br>
[Hook]<br>
<br>
Cash rules everything around me:<br>
CREAM, get the money<br>
Dollar, dollar bill y'all<br>
Cash rules everything around me:<br>
CREAM, get the money<br>
Dollar, dollar bill y'all<br>
Cash rules everything around me:<br>
CREAM, get the money<br>
Dollar, dollar bill y'all<br>
Cash rules everything around me:<br>
CREAM, get the money<br>
Dollar, dollar bill y'all<br>
<br>
[Outro: Raekwon]
<br>
Niggas got to do what they got to do<br>
To get through - know what I'm saying?<br>
Because you can't just get by no more - word up -<br>
You gotta get over - straight up and down<br>
<br>
[Hook]<br>
<br>
Cash rules everything around me:<br>
CREAM, get the money<br>
Dollar, dollar bill y'all<br>
Cash rules everything around me:<br>
CREAM, get the money<br>
Dollar, dollar bill y'all<br>
Cash rules everything around me:<br>
CREAM, get the money<br>
Dollar, dollar bill y'all<br>
Cash rules everything around me:<br>
CREAM, get the money<br>
Dollar, dollar bill y'all<br>
</p>
</div>

<li><a href="https://www.youtube.com/watch?v=l4E4XC7qOfk" target="_blank">Nuthin But A G Thang: Dr. Dre-Snoop Dogg</a></li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/l4E4XC7qOfk" frameborder="0" allowfullscreen></iframe>
<div class="G_Thang">
<h3>Lyrics</h3>   
<p>
One, two, three and to the four<br>
Snoop Doggy Dogg and Dr. Dre is at the door<br>
Ready to make an entrance, so back on up<br>
(‘Cause you know we're about to rip shit up)<br>
Give me the microphone first so I can bust, like a bubble<br>
Compton and Long Beach together<br>
Now you know you're in trouble<br>
Ain't nothing but a G thang, baby<br>
Two loc'ed out niggas, so we're crazy<br>
Death Row is the label that pays me<br>
Unfadeable, so please don't try to fade this (Hell yeah)<br>
But um, back to the lecture at hand<br>
Perfection is perfected, so I'ma let 'em understand<br>
From a young G's perspective<br>
And before me dig out a bitch I have to find a contraceptive<br>
You never know, she could be earning her man<br>
And learning her man, and at the same time burning her man<br>
Now, you know I ain't with that shit, Lieutenant<br>
Ain't no pussy good enough to get burnt while I'm up in it<br>
And that's realer than Real-Deal Holyfield<br>
And now you hookers and hoes know how I feel<br>
Well, if it's good enough to get broke off a proper chunk<br>
I'll take a small piece of some of that funky stuff<br>
<br>
It's like this and like that and like this and uh<br>
It's like that and like this and like that and uh<br>
It's like this and like that and like this and uh<br>
<br>
Dre, creep to the mic, like a phantom<br>
Well, I'm peepin' and I'm creepin' and I'm creepin'<br>
But I damn near got caught, ‘cause my beeper kept beepin'<br>
Now it's time for me to make my impression felt<br>
So sit back, relax, and strap on your seat belt<br>
You never been on a ride like this before<br>
With a producer who can rap and control the maestro<br>
At the same time with the dope rhyme that I kick<br>
You know and I know, I flow some old funky shit<br>
To add to my collection, the selection symbolizes dope<br>
Take a toke, but don't choke<br>
If you do, you'll have no clue<br>
On what me and my homie Snoop Dogg came to do<br>
<br>
It's like this and like that and like this and uh<br>
It's like that and like this and like that and uh<br>
It's like this, and who gives a fuck about those?<br>
So just chill 'til the next episode<br>
<br>
You’ve got the feeling<br>
To rock the other side<br>
You’ve got the feeling (Yeah, yeah)<br>
<br>
Falling back on that ass, with a hellafied gangsta lean<br>
Getting funky on the mic, like a old batch of collard greens<br>
It's the capital S, oh yes, I'm fresh, N double-O, P<br>
D, O, double-G, Y, D, O, double-G, you see<br>
Showing much flex when it's time to wreck a mic<br>
Pimping hoes and clocking a grip, like my name was Dolomite<br>
Yeah, and it don't quit<br>
I think they in the mood for some mothafuckin' G shit<br>
(Hell yeah) So Dre (What's up, Dogg?)<br>
Gotta give them what they want (What's that, G?)<br>
We gotta break 'em off somethin' (Hell yeah)<br>
And it's gotta be bumpin' (City of Compton)<br>
<br>
Is where it takes place, so when asked, your attention<br>
Mobbin' like a motherfucker, but I ain't lynchin'<br>
Dropping the funky shit<br>
That's making the sucker niggas mumble<br>
When I'm on the mic, it's like a cookie; they all crumble<br>
Try to get close, and your ass'll get smacked<br>
My motherfuckin' homie Doggy Dogg has got my back<br>
Never let me slip, ‘cause if I slip then I'm slippin'<br>
But if I got my Nina then you know I'm straight trippin'<br>
And I'ma continue to put the rap down, put the mack down<br>
And if you bitches talk shit, I'll have to put the smack down<br>
Yeah, and you don't stop<br>
I told you I'm just like a clock when I tick and I tock<br>
But I'm never off, always on to the break of dawn<br>
COMPTON and the city they call Long Beach<br>
Putting the shit together<br>
Like my nigga D.O.C., no one can do it better<br>

Like this, that and this and uh<br>
It's like that and like this and like that and uh<br>
It's like this, and who gives a fuck about those?<br>
So just chill 'til the next episode<br>

You’ve got the feeling<br>
To rock the other side<br>
You’ve got the feeling (Yeah, yeah)<br>
You’ve got the feeling<br>
To rock the other side<br>
You’ve got the feeling (Yeah, yeah)<br>
    </p>
</div>

<li><a href="https://www.youtube.com/watch?v=padvnsLUhUM" target="_blank">Tupac - Only God Can Judge Me</a></li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/padvnsLUhUM" frameborder="0" allowfullscreen></iframe>


<div class="twopac">
<h3>Lyrics</h3>
<p>
Only God can judge me, that right?<br>
(Only God can judge me now)<br>
Only God baby, nobody else, nobody else<br>
All you other motherfuckers get out my business, really<br>
(Only God can judge me now)<br>
<br>
Perhaps I was blind to the facts, stabbed in the back<br>
I couldn't trust my own homies just a bunch of dirty rats<br>
Will I, succeed, paranoid from the weed<br>
And hocus pocus I try to focus but I can't see<br>
And in my mind I'm a blind man doin' time<br>
Look to my future cause my past, is all behind me<br>
Is it a crime, to fight, for what is mine?<br>
Everybody's dyin' tell me what's the use of tryin'<br>
I've been Trapped since birth, cautious, cause I'm cursed<br>
And fantasies of my family, in a hearse<br>
And they say it's the white man I should fear<br>
But, it's my own kind doin' all the killin' here<br>
I can't lie, ain't no love for the other side<br>
Jealousy inside, make'em wish I died<br>
Oh my Lord, tell me what I'm livin' for<br>
Everybody's droppin' got me knockin' on heaven's door<br>
And all my memories, of seein' brothers bleed<br>
And everybody grieves, but still nobody sees<br>
Recollect your thoughts don't get caught up in the mix<br>
Cause the media is full of dirty tricks<br>
Only God can judge me<br>
<br>
Only God can judge me, only God<br>
Only God can judge me now<br>
<br>
Flatline!<br>
<br>
I hear the doctor standing over me<br>
Screaming I can make it<br>
Got a body full of bullet holes laying here naked<br>
Still I can't breathe, something's evil in my IV<br>
Cause everytime I breathe, I think they killing me<br>
I'm having nightmares, homicidal fantasies<br>
I wake up stranglin', danglin' my bed sheets<br>
I call the nurse cause it hurts, to reminisce<br>
How did it come to this? I wish they didn't miss<br>
Somebody help me, tell me where to go from here<br>
Cause even thugs cry, but do the Lord care?<br>
Try to remember, but it hurts<br>
I'm walking through the cemetery talking to the dirt<br>
I'd rather die like a man than live like a coward<br>
There's a ghetto up in Heaven and it's ours, Black Power<br>
Is what we scream as we dream in a paranoid state<br>
And our fate, is a lifetime of hate<br>
Dear Mama can you save me? And fuck peace<br>
Cause the streets got our babies, we gotta eat<br>
No more hesitation each and every black male's trapped<br>
And they wonder why we suicidal runnin' round strapped<br>
Mister police: please try to see that there's<br>
A million motherfuckers stressing just like me<br>
Only God can judge me<br>
<br>
Only God can judge me, only God<br>
Only God can judge me now<br>
<br>
That which does not kill me can only make me stronger<br>
(That's for real)<br>
And I don't see why everybody feel as though<br>
That they gotta tell me how to live my life<br>
(You know?)<br>
Let me live baby, let me live<br>
<br>
Pac I feel ya, keep servin' it on the reala<br>
For instance say a playa hatin' mark is out to kill ya<br>
Would you be wrong, for buckin' a nigga to the pavement?<br>
He gon' get me first, if I don't get him fool start prayin'<br>
Ain't no such thing as self-defense in the court of law<br>
So judge us when we get to where we're goin wearin' a cross, that's real<br>
Got him, lurked him, crept the fuck up on him<br>
Sold a half a million tapes now everybody want him<br>
After talkin' behind my back like a bitch would<br>
Tellin' them niggas, "You can fade him, " punk I wish you would<br>
It be them same motherfuckers in your face that'll rush up in your place<br>
To get your safe, knowin' you on that paper chase<br>
Grass, glass, big screen and leather couch<br>
My new shit is so fetti already sold a key of ounce<br>
Bitch, remember 2Pac and 4-Tay<br>
Them same two brothers dodgin' bullets representin' the Bay<br>
Pac when you was locked down, that's when I'll be around<br>
Start climbing up the charts, so sick, but they tried to clown<br>
That's why they ride the bandwagon still be draggin' sellin' lies<br>
Don't think I don't see you haters, I know you all in disguise<br>
<br>
Guess you figure you know me cause I'm a thug<br>
That love to hit the late night club drunk and buzzed<br>
Been living lavish like a player all day<br>
Now I'm bout to floss em off, player shit with 4-Tay<br>
Only God can judge me <br>
</p>
</div>


<li><a href="https://www.youtube.com/watch?v=tfxvgi0i1nc" target="_blank">The Notorious B.I.G feat. Bone Thugs & Harmony - Notorious Thugs</a></li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/N6XhzXB3oY8" frameborder="0" allowfullscreen></iframe>

<div class="Biggie">
<h3>Lyrics</h3>
<p>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
Let's ride let's ride let's ride let's ride<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
Let's ride let's ride let's ride let's ride<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
<br>
Armed and dangerous, ain't too many can bang with us<br>
Straight up weed, no angel dust, label us "Notorious"<br>
Thug ass niggas that love to bust, it's strange to us<br>
Y'all niggas be scrambling, gambling<br>
Up in restaurants with mandolins and violins<br>
We just sitting here tryna win, try not to sin<br>
High off weed and lots of gin<br>
So much smoke need oxygen, steadily counting them Benjamins<br>
Nigga you should too, if you knew what this game'll do to you<br>
Been in this shit since '92, look at all the bullshit I been through!<br>
So-called beef with you-know-who<br>
Fucked a few female stars or two<br>
Nigga, blue light, nigga, move like Mike, shit<br>
Not to be fucked with<br>
Motherfucker better duck quick 'cause<br>
Me and my dogs love to buck shit<br>
Fuck the luck shit, strictly aim<br>
No aspirations to quit the game<br>
Spit your game, talk your shit<br>
Grab your Gat, call your clique<br>
Squeeze your clip, hit the right one<br>
Pass that weed, I got to light one<br>
All them niggas, I got to fight one<br>
All them hoes, I got to like one<br>
Our situation is a tight one<br>
Whatcha gonna do, fight or run?<br>
Seems to me that you'll take B<br>
Bone and Big, nigga: die slowly<br>
I'mma tell you like a nigga told me<br>
Cash rules everything around me<br>
Shit lyrically, niggas can't see me<br>
Fuck it, buy the coke<br>
Cook the coke, cut it<br>
Know the bitch 'fore you caught yourself loving it<br>
Nigga with a Benz fuckin' it<br>
Doesn't it seem odd to you?<br>
Big come through with mobs and crews<br>
Goodfellas down to the Mo' Thugs dudes<br>
Who's the killer, me or you?<br>
<br>
7 A.M., woke in the morning<br>
With Hen' and caffeine and green and nicotine<br>
No dough, so pop a couple of doze<br>
Lil' RIPsta, nigga Mista Clean<br>
Nigga Dean, deep in my temple and not to get<br>
Sentimentally steamed with my<br>
Instrumelody, and heated<br>
Especially for your team<br>
And a .45, indeed, will beam<br>
In between the scenes. Destroy your dreams<br>
You willing to die? we'll see<br>
How many flee when I 'cause the scene<br>
We mean mug, Mo' Thugs<br>
Trained to be perfect disciples<br>
When it's survival, tongue is a double-edged sword<br>
Triple six rivals spitting fire<br>
This the real truth, bitch<br>
Breaking out for lies<br>
My Messiahs better be ready for Armageddon, shit's expired<br>
It's wild, bless the child<br>
The one that became a man<br>
Put in positions off in the Clair<br>
All that I had to do was stare<br>
Test me now. Contender never no surrender, no pretend<br>
Pick up my pen, in my hand<br>
One of my trusted friend-friends, hey<br>
Open it! Let's see if we're real, we all suited<br>
Beg my pardon to Martin<br>
Baby we ain't marching, we shooting!<br>
In daily recruiting there's a thug born<br>
Everyday in the ghetto<br>
We start em off little, we give em a bible<br>
And a pen and a pad to hit the label, kick it<br>
<br><br>
Nigga roll with Bone up into the Thug spot<br>
To the dome with a shot of bird<br>
Never get tossed to the curb<br>
Be feeling that urge to splurge<br>
But I'm broke as fuck, Sin, gimme that Mossberg swerve<br>
Up into my bag, 'cause I gotta get my mask and shells<br>
To put in this 12-gauge sawed-off<br>
Get 'em hauled off, nigga your loss, take it all off<br>
Got a nigga caught off<br>
But the Bone not Leatherface, too many are thinking they thugs<br>
And little Mo Hart want to pull it and bust it<br>
And bitch if you steppin' we buckin' them guts, that's fucked up<br>
Now let me get done with the grime<br>
Gotta go purchase a dime<br>
Put in a state to get done with the crime<br>
Smoking the reefer to ease my mind<br>
Swig some wine, step on the block with the rocks<br>
But really we be serving em dummies, see?<br>
Gotta buck him on down if he come back talking<br>
Like, gimme back me money<br>
Thugging with me killers<br>
Need us a liter of liquor but niggas ain't got shit<br>
With a sawed-off pump, chrome .38 pistol<br>
Now who ready to get bent?<br>
Nigga like me fiending for them green leaves<br>
But I ain't had no dough<br>
Gotta make some money, so<br>
I'm making my dummy rocks if I go broke<br>
<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie (we gonna rock the party)<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie (Rock the party, party)<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie (better run and tell everybody)<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
<br>
Let's ride let's ride let's ride let's ride<br>
Get high, get high, get high, c'mon<br>
Let's ride let's ride let's ride let's ride<br>
Get high, get high, get high<br>
<br>
Yeah, Little Lay, hey, coming in the form of scripture<br>
Finna get you and hit you with magic<br>
Droppin down lead but I call it my gadgets<br>
With an automatic-status, we spray, time to load the Glocks<br>
But I'm thinking not<br>
There's another evil force tellin' me to do what I gotta do<br>
So I up my pipe, a nigga dyin' tonight<br>
And I'm always running from the boys in blue<br>
Biggie, blue’s on my ass, pull out the cellular phone to call Bone<br>
What's happenin'?<br>
Grab artillery, a nigga start packing<br>
'Cause a motherfucker tried to get me in a jackin, and I did him<br>
Hit him right between the eyes, the spot was wise<br>
Wanna test a nigga size, it'll cost him<br>
Nigga fuck around with the wrong shit<br>
Y'all get mo' murdered all day, all day<br>
We done paved the way and I'm on the run<br>
I'mma call my boys and bring all the guns<br>
Y'all niggas wanna have a little fun with #1?<br>
Bloody red red rum rum rum rum rum rum<br>
That red red rum rum rum rum rum rum<br>
That red red rum<br>
<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie (we gonna rock the party)<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie (Rock the party, party)<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie (better run and tell everybody)<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
<br>
Let's ride let's ride let's ride let's ride<br>
Get high, get high, get high, c'mon<br>
Let's ride let's ride let's ride let's ride<br>
Get high, get high, get high<br>
<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie (we gonna rock the party)<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie (Rock the party, party)<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie (better run and tell everybody)<br>
It's Bone and Biggie, Biggie, It's Bone and Biggie, Biggie<br>
<br>
Let's ride let's ride let's ride let's ride<br>
Get high, get high, get high, c'mon<br>
Let's ride let's ride let's ride let's ride<br>
Get high, get high, get high <br>
</p>
</div>
</ol>
</div>

<footer>
    <h5>High Noon could be considered the most mediocre music project website of this century.</h5>
    <a href="{% url 'about_page' %}">About</a>
    <h3>|</h3>
    <a href="{% url 'payton_page' %}">Payton</a>
    <h3>|</h3>
    <a href="{% url 'alex_page' %}">Alex</a>
    <h3>|</h3>
    <a href="{% url 'scottie_page' %}">Scottie</a>
</footer>

</body>
</html>
