<!DOCTYPE HTML>

{% load staticfiles %}

<html>
<head>
  <title>High Noon Music</title> <!- below has the links to the CSS page for this file and the file with the font we use for the website>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
  <h1>High Noon Music</h1>
  <nav> <!- navigation bar, with links to each individual page>
    <a href="Paytonpage.html">Payton</a>
    <h3>|</h3>
  	<a href="Boratto_personal_page.html">Alex</a>
    <h3>|</h3>
  	<a href="Zelov_personal_page.html">Scottie</a>
  </nav>
  <br>
  <div class=main_picks> <!- ordered lists with the two types of music we are posting for the website>
    <br>
  <h3>Editors' Picks of the Week</h3>
  <p>Each week the editors of High Noon put together the music they deem to be the best of the best from the past week. The list has no specified length or genre.</p>
  <ol>
    <li>X - 21 Savage</li>
    <li>Bounce Back - Big Sean</li>
    <li>T-Shirt - Migos</li>
    <li>Paris - Chainsmokers</li>
    <li>Shape of You - Ed Sheeran</li>
    <li>iSpy - Kyle</li>
    <li>Tunnel Vision - Kodak Black</li>
    <li>4 Your Eyes Only - J. Cole</li>
    <li>Tropicana - Topaz Jones</li>
    <li>Love$ick - Mura Masa</li>
  </ol>
  <h3>Editors' Classics of the Month</h3>
  <p>There happens to be a lot of music already out there in the ether. Every month (out of sheer inability to choose), the High Noon staff also curates a list of their favorite classic music, ranging in age and genre.</p>
  <ol>
    <li>Drug Dealers Anonymous - Pusha T</li>
    <li>When We Party - Faith Evans</li>
    <li>Tell Me Baby - Red Hot Chilly Pepers</li>
    <li>Adventure of a Lifetime - Coldplay</li>
    <li>It Neva Rains - Tyga</li>
    <li>Gang Related - Logic</li>
    <li>Grown Up - Danny Brown</li>
    <li>In the Morning - J. Cole</li>
  </ol>
  </div>
  <br>
  <footer> <!- similar to the navigation bar, but with smaller fonts and also links to an "About" page>
    <h5>High Noon could be considered the most mediocre music project website of this century.</h5>
    <a href="Zelov_Boratto_Holoway_About_page.html">About</a>
    <h3>|</h3>
    <a href="Paytonpage.html">Payton</a>
    <h3>|</h3>
    <a href="Boratto_personal_page.html">Alex</a>
    <h3>|</h3>
    <a href="Zelov_personal_page.html">Scottie</a>
  </footer>
</body>
</html>